---
platform: linux
image_resource:
  type: docker-image
  source: {repository: boshcpi/gce-cpi-release}
inputs:
  - name: bosh-cpi-src
  - name: stemcell
  - name: environment
  - name: aliyun-cli
run:
  path: bosh-cpi-src/ci/tasks/run-integration.sh
params:
  ALICLOUD_ACCESS_KEY_ID:     ""
  ALICLOUD_ACCESS_KEY_SECRET: ""
